

<!-- <h2><%= l(:label_home) %></h2> -->

<div class="row">

  <div id="welcome-left" class="col-md-2">    
  
  <h3><%=l(:text_quick_menu)%></h3>

  <!-- Welcome Quick Menu -->

    <ul class="welcome-menu">
      <li><span><%=l(:label_quick_users)%></span><a class="<%=l(:label_quick_users)%> hasTooltip" href="/users" data-toggle="tooltip" data-placement="right" title="<%=l(:tip_quick_users)%>"><i class="fa fa-users"></i></a></li>
      <li><span><%=l(:label_quick_projects)%></span><a class="<%=l(:label_quick_projects)%> hasTooltip" href="/projects" data-toggle="tooltip" data-placement="right" title="<%=l(:tip_quick_projects)%>"><i class="fa fa-sitemap"></i></a></li>
      <li><span><%=l(:label_quick_issues)%></span><a class="<%=l(:label_quick_issues)%> hasTooltip" href="/issues" data-toggle="tooltip" data-placement="right" title="<%=l(:tip_quick_issues)%>"><i class="fa fa-ticket"></i></a></li>
      <li><span><%=l(:label_quick_stats)%></span><a class="<%=l(:label_quick_stats)%> hasTooltip" href="projects/e80system/issues/growth" data-toggle="tooltip" data-placement="right" title="<%=l(:tip_quick_stats)%>"><i class="fa fa-signal"></i></a></li>
      <li><span><%=l(:label_quick_wiky)%></span><a class="<%=l(:label_quick_wiky)%> hasTooltip" href="/projects/e80system/wiki" data-toggle="tooltip" data-placement="right" title="<%=l(:tip_quick_wiky)%>"><i class="fa fa-book"></i></a></li>
      <li><span><%=l(:label_quick_support)%></span><a class="<%=l(:label_quick_support)%> hasTooltip" href="/projects/ticketing-system/issues/new" data-toggle="tooltip" data-placement="right" title="<%=l(:tip_quick_support)%>"><i class="fa fa-cogs"></i></a></li>
    </ul>

  </div>

  <div id="welcome-right" class="col-md-10">

    <% if @projects.any? %>
      <div class="projects box">
      <i class="fa fa-caret-left projects-arrow"></i>
        <h3><%=l(:label_project_latest)%><i class="fa fa-clock-o"></i></h3>
        <ul class="projects-list">
        <% for project in @projects %>
          <% @project = project %>
          <li class="project">
          <h4 class="project-title"><%= link_to_project project %> <span class="project_date"><i class="fa fa-calendar"></i> <%= format_time(project.created_on) %></span></h4>
          <div class="project-content"><%= textilizable project.short_description, :project => project %></div>
          </li>
        <% end %>
        <% @project = nil %>
        </ul>
      </div>
    <% end %>

     <% if @news.any? %>
      <div class="news box">
        <i class="fa fa-caret-left projects-arrow"></i>
        <h3><%=l(:label_news_latest)%><i class="fa fa-bars"></i></h3>

        <%= render :partial => 'news/news', :collection => @news %>

        <i class="fa fa-caret-square-o-right"></i> <%= link_to l(:label_news_view_all), :controller => 'news' %>
      </div>
    <% end %>

  </div>

</div>

<!-- <div class="splitcontentleft">
  <%= textilizable Setting.welcome_text %>
  <% if @news.any? %>
  <div class="news box">
  <h3><%=l(:label_news_latest)%></h3>
    <%= render :partial => 'news/news', :collection => @news %>
    <%= link_to l(:label_news_view_all), :controller => 'news' %>
  </div>
  <% end %>
  <%= call_hook(:view_welcome_index_left, :projects => @projects) %>
</div> -->

<!-- <div class="splitcontentright">
    <% if @projects.any? %>
  <div class="projects box">
  <h3><%=l(:label_project_latest)%></h3>
    <ul>
    <% for project in @projects %>
      <% @project = project %>
      <li>
      <%= link_to_project project %> (<%= format_time(project.created_on) %>)
      <%= textilizable project.short_description, :project => project %>
      </li>
    <% end %>
    <% @project = nil %>
    </ul>
  </div>
  <% end %>
    <%= call_hook(:view_welcome_index_right, :projects => @projects) %>
</div> -->

<!-- Bootstrap Tooltip -->

<script> $('.hasTooltip').tooltip() </script>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>



