</br>
<h4><%=l(:label_password_lost)%></h4>
<p><%=l(:desc_password_lost)%></p>

<%= form_tag(lost_password_path) do %>
  <div id="lost_password" class="box tabular">
    <p>
      <label for="mail"><%=l(:field_mail)%> <span class="required">*</span></label>
      <%= text_field_tag 'mail', nil, :size => 40 %>
      <%= submit_tag l(:button_submit) %>
    </p>
  </div>
<% end %>
