<!DOCTYPE html>
<html lang="<%= current_language %>">
<head>
<meta charset="utf-8" />
<title><%=h html_title %></title>
<meta name="description" content="<%= Redmine::Info.app_name %>" />
<meta name="keywords" content="issue,bug,tracker" />
<%= csrf_meta_tag %>
<%= favicon %>
<%= stylesheet_link_tag 'jquery/jquery-ui-1.9.2', 'application', :media => 'all' %>
<%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
<%= javascript_heads %>
<%= heads_for_theme %>
<%= call_hook :view_layouts_base_html_head %>
<!-- page specific tags -->
<%= yield :header_tags -%>
<!-- FontAwesome -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
<!-- Bootstrap -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body class="<%=h body_css_classes %>">
<div id="wrapper">

<% if User.current.logged? || !Setting.login_required? %>
<!-- Top Menu -->
<div id="top-menu-wrapper">
    <div id="top-menu" class="container-fluid">

        <div class="row">

            <div id="user-menu" class="col-md-8">
            <%= render_menu :top_menu if User.current.logged? || !Setting.login_required? -%>
            </div>

             <div id="account" class="col-md-4 col-sm-12">

            <%= render_menu :account_menu -%>

            <%= content_tag('div', "#{l(:label_logged_as)} #{link_to_user(User.current, :format => :username)}".html_safe, :id => 'loggedas') if User.current.logged? %>
                
            </div>

        </div>  

    </div>
</div>
<% end %>

<!-- Wrapper -->
<div id="header-wrapper" class="<% if User.current.logged? || !Setting.login_required? %>white-top-bordered<% end %>">

    <div id="header" class="container-fluid">

        <!-- Logo & Search -->

        <div class="row">

             <div id="logo" class="col-md-4 col-sm-4">
                <a class="svg" href="/"> 
                    <object data="<%= Redmine::Utils.relative_url_root %>/plugin_assets/rewriting_views/images/logo.svg" type="image/svg+xml">
                        <img alt="Elettric80 S.p.a" src="<%= Redmine::Utils.relative_url_root %>/plugin_assets/rewriting_views/images/logo.png" />
                    </object>
                    <% debug Redmine %>
                </a>
            </div>

            <div id="responsive" class="col-md-8 col-sm-8">
                    <object data="<%= Redmine::Utils.relative_url_root %>/plugin_assets/rewriting_views/images/responsive.svg" type="image/svg+xml">
                        <img alt="Elettric80 S.p.a" src="<%= Redmine::Utils.relative_url_root %>/plugin_assets/rewriting_views/images/responsive.png" />
                    </object>
            </div>

            <% if User.current.logged? || !Setting.login_required? %>
            <div id="quick-search" class="col-md-8 col-sm-8">
                <%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
                <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
                <label for='q'>
                  <%= link_to l(:label_search), {:controller => 'search', :action => 'index', :id => @project}, :accesskey => accesskey(:search) %>
                  <i class="fa fa-search"></i>
                </label>
                <%= text_field_tag 'q', @question, :size => 20, :class => 'small', :accesskey => accesskey(:quick_search) %>
                <% end %>
                <%= render_project_jump_box %>
            </div>
            <% end %>

        </div>

        <!-- Nav Bar & Tab Menu -->

        <div id="navbar" class="row">

        <div id="page-title" class="col-md-3"> 
            <h1 ><%= page_header_title %></h1>
        </div>

        <% if display_main_menu?(@project) %>
            <div id="main-menu" class="col-md-9 col-sm-12">
                <a href="#" id="resp-menu" class="" style="display:none;"><i class="fa fa-align-justify"></i>Menu</a>
                <div id="main-menu-content">
                <%= render_main_menu(@project) %>
                </div>
            </div>
        <% end %>

        </div>

    </div>
</div>

<script>
    // On Click Responsive Menu Function
    jQuery("#resp-menu").click(function () {
    jQuery("#main-menu-content").toggle();
    }); 
</script>

    <!-- Main -->

    <div id="main-wrapper">

       <div class="container-fluid"> 

            <div id="main" class="row<%= sidebar_content? ? '' : ' nosidebar' %>">

                <!-- Content-Sidebar original order changed -->

                <div id="sidebar" class="col-md-2">

                    <a href="#" id="resp-options" class="" style="display:none;"><i class="fa fa-cog"></i>Options</a>
                    <div id="sidebar-content">
                        <%= yield :sidebar %>
                        <%= view_layouts_base_sidebar_hook_response %>
                    </div>
                </div>

                <div id="content" class="col-md-<%= sidebar_content? ? '10' : '12' %>">
                    <%= render_flash_messages %>
                    <%= yield %>
                    <%= call_hook :view_layouts_base_content %>
                    <div style="clear:both;"></div>
                </div>

            </div>

        </div>

    </div>

<script>
    // On Click Responsive Menu Function
    jQuery("#resp-options").click(function () {
    jQuery("#sidebar-content").toggle();
    }); 
</script>

    <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
    <div id="ajax-modal" style="display:none;"></div>

    <!-- Footer -->

    <div id="footer-wrapper">
        <div id="footer" class="container-fluid">
            <div class="row">  
              <div class="bgl"><div class="bgr">
                Elettric 80 S.p.a. &copy; 2014 | <a href="www.elettric80.it">www.elettric80.it</a>
               <!--  Powered by <%= link_to Redmine::Info.app_name, Redmine::Info.url %> &copy; 2006-2014 Jean-Philippe Lang -->
              </div></div>
            </div>
        </div>
    </div>
</div>
</div>   
<%= call_hook :view_layouts_base_body_bottom %>
</body>
</html>
